<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="nav-collapse">
      <ul>
        <li><a href="/earth_day_2015_styleguide/">Home</a></li>

        <li><a href="/earth_day_2015_styleguide/grid/">Grid</a></li>

        <li><a href="/earth_day_2015_styleguide/fonts/">Fonts</a></li>

        <li><a href="/earth_day_2015_styleguide/colors/">Colors</a></li>

        <li><a href="/earth_day_2015_styleguide/logo/">Logo</a></li>

        <li><a href="/earth_day_2015_styleguide/icons/">Icons</a></li>

        <li><a href="/earth_day_2015_styleguide/buttons/">Buttons</a></li>
        
        <li><a href="/earth_day_2015_styleguide/process/">Process</a></li>

      </ul>
    </nav>

  </div>

</header>
